*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1480px;
}
.header .header__top{
    width: 1480px;
    height: 50px;
    background-color: #0d47a1;
}
.header .header__top .nav .search{
    margin-top: 10px;
    margin-right: 20px;
}
.header .header__top .nav .search input{
    padding: 4px;
}
.header .header__top .nav .search button{
    padding: 4px;
    background-color: #0d47a1;
    color: aliceblue;
}
.header .header__top .nav ul li,
.header .header__top .nav .search{
    float: right;
    list-style: none;
}
.header .header__top .nav ul li{
    border-right: 1px solid white;
}
#fix{
    border-right: 0;
}
.header .header__top .nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    margin: 0 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}


.header__bottom img{
    height: 120px;
    width: 110px;
}
.header__bottom ul li{
    float: left;
    list-style: none;
    margin: 10px;
    margin-top: 55px;
}
#fixmargin{
    margin-left: 180px;
}
.header__bottom ul li a{
    text-decoration: none;
    color:black;
    font-size:17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.header__bottom ul li a:hover{
    color:rgb(255, 242, 1);
}
.header__bottom img{
    position: relative;
    right:1050px;
}
.container-slide{
    background-color: #f8f8f8;
    border-top:1px solid #e2e1e1;
    padding-bottom:30px ;
}
.slide .slogan h5{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #006bc7;
    display: block;
    margin: 20px;
}

.container-slide .slide img{
    width: 100%;
    height: 430px;
}
.Speach .quotes i{
    color:#0289ea;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.Speach .thutuong{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
#Speach-infor{
    font-weight: 300;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}
.Speach img{
    border-radius: 100%;
    display: block;
    margin: 20px auto;
    width: 140px;
}
.container-news{
    width: 100%;
    background-color: #ffffec;
    padding-top: 10px;
    border-top: 1px solid #e2e1e1;
    padding-bottom: 20px;
}
.news{
    width: 1360px;
    margin: 0 auto;
}
.main-news .container-news-infor{
    display: flex;
    
}
.container-title {
    display: flex;
    margin-top: 20px;
}
.container-title .gachdaudong{
    width: 5px;
    height: 28px;
    background-color: yellow;
    margin-right: 2px;
}
.container-title h3{
    justify-content: flex-start;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 3px;
}
.main-news .main-news-infor{
    width: 44%;
    justify-content: space-around;
    margin: 20px 40px;
}
#fix{
    margin-right: 0;
}
.main-news .main-news-infor img{
    width: 100%;
}
.main-news .main-news-infor h3,
.main-news .main-news-infor a
{
    color: #0d47a1;
    text-decoration: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-news .main-news-infor h4{
    font-weight: 200;
    color: #0289ea;
    font-size: 15px;

}
.sub-news{
    width: 1360px;
    margin: 0 auto; 
    
}

.container-seperate{
    display: flex;
}
.container-seperate .line{
    background-color: #e2e1e1;
    height: 1px;
    width: 49%;
    margin: 0 auto;

}
 .container-seperate .line-icon{
    color: #e2e1e1;
    position: relative;
    bottom: 7px;
    margin: 0 10px;

}
.news-list{
    display: flex;
    justify-content: space-between;
}
.news-list .sub-news-infor{
    width: 30%;
}
.news-list .sub-news-infor img{
    width: 100%;
    
}
.news-list .sub-news-infor .sub-news-title{
    margin: 7px 5px;
}
.news-list .sub-news-infor .container-sub-tile{
    padding:10px;
    position: relative;
    transition:1.5s;
    background-color: 
    #ffffec;
}
.news-list .sub-news-infor:hover .container-sub-tile {
    box-shadow: 5px 5px 5px 5px #888888;
    top: -20px;
}
.news-list .sub-news-infor img{
    transition: 1s;
}
.news-list .sub-news-infor:hover img{
    transform: scale(1.06);
}
.news-list .sub-news-infor a{
    text-decoration: none;
}
.news-list .sub-news-infor .sub-news-title .tintuc-sukien{
    color: #e2e1e1;
    text-transform: uppercase;
    position: relative;
    top:2px;
}
.news-list .sub-news-infor .news-info{
    color:#0289ea;
    font-size: 18px;
    display: block;
    margin-left: 6px;
}
.button-watchmore{
    width: 165px;
    margin: 25px auto;
}

 .button-watchmore #arrow{
    color: #ffffec;
    position: relative;
    top: 1px;
    right: 2px;

}

 .button-watchmore a{
    color: #ffffec;
    text-decoration: none;
    display: block;
    padding: 19px 35px;
    background-color: #0289ea;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;

}
.button-watchmore:hover a{
    background-color: #51c2fa;
    border-radius: 5px;
}

.Video{
    width: 1380px;
    margin: 0 auto;
}
.Video .container-title{
    margin: 10px 0;
}
.Video .container-video{
    display: flex;
    margin-bottom: 50px;
}
.Video .container-video .container-mainvideo{
    width: 44%;
    margin-right: 50px;
}
.Video .container-video .container-sub1video{
    width: 50%;  
}
.Video .container-video .container-sub1video .subvideo img,
.Video .container-video .container-sub2video .subvideo img{
    width: 300px;
    height: 180px;
    margin-left: 70px;
}

.background-event{
    height: 230px;
    width: 100%px;
    margin: 0 auto;
    background-color: #2459aa;
}
.container-background-event h3{
    text-align: center;
    line-height: 120px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
}
.container-background-event{
    position: relative;
    top: 80px;
}

.container-event-card{
    width: 1380px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.event-card .imgblack{
    opacity: .7;

}
.event-card img{
    position:absolute;
    width: 29%;
    height: 274px;
    border-radius: 10px;
}
.event-card .event-infor{
    position: absolute;
    margin: 100px auto;
    margin-left: 30px;
}
.event-card .event-infor .event-time{
    background-color:white;
    border-radius: 5px;
    padding:5px 0;
    text-align: center;
    font-size: 12px;
    width: 170px;
    margin: 10px 0;
    color:#453c3c;
}
.event-card .event-infor a{
    margin: 10px 0;
    display: block;
    text-decoration: none;
    color: white;
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.event-card .event-infor .event-location{
    display: flex;
}
.event-card .event-infor .event-location i {
    color: #cdc1c1; 
    margin-right: 20px;
}
#iconfix2{
    margin-left: 35px;
}
#iconfix3{
    margin-left: 30px;
}
#iconfix5{
    margin-right: 50px ;
}
.event-card .event-infor .event-location h5{
    color: #cdc1c1;
}
.container-list-event{
    display: flex;
    justify-content: space-around;
    width: 1380px;
    margin: 0 auto;
    height: 300px;
}
#button-event{
    position: relative;
    margin-bottom: 60px;
}

.container-special-infor{
    width: 1380px;
    margin: 0 auto;
}
.container-special-infor > h3{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
}
.container-special-infor > h4{
    text-align: center;
    font-weight: 300;
    font-size: 25px;
}

.container-icon-numbers{
    width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}
.icon-numbers{

}

.container-icon-numbers i{
    font-size: 50px;
    position: relative;
    left: 25px;
    color: #0289ea;

}
.container-icon-numbers h3{
    font-size: 35px;
    font-family: 'Lora';
    text-align: center;
    margin: 20px 0;
}
.container-icon-numbers h4{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 200;
}