*{
    margin:0;
    padding:0;
}
.container{
    width: 1480px;
}
.header .header__top{
    width: 1480px;
    height: 50px;
    background-color: #0d47a1;
}
.header .header__top .nav .search{
    margin-top: 10px;
    margin-right: 20px;
}
.header .header__top .nav .search input{
    padding: 4px;
}
.header .header__top .nav .search button{
    padding: 4px;
    background-color: #0d47a1;
    color: aliceblue;
}
.header .header__top .nav ul li,
.header .header__top .nav .search{
    float: right;
    list-style: none;
}
.header .header__top .nav ul li{
    border-right: 1px solid white;
}
#fix{
    border-right: 0;
}
.header .header__top .nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    margin: 0 5px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}


.header__bottom img{
    height: 120px;
    width: 110px;
}
.header__bottom ul li{
    float: left;
    list-style: none;
    margin: 10px;
    margin-top: 55px;
}
#fixmargin{
    margin-left: 180px;
}
.header__bottom ul li a{
    text-decoration: none;
    color:black;
    font-size:17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.header__bottom ul li a:hover{
    color:rgb(255, 242, 1);
}
.header__bottom img{
    position: relative;
    right:1050px;
}
.container-slide{
    background-color: #f8f8f8;
    border-top:1px solid #e2e1e1;
    padding-bottom:30px ;
}
.slide .slogan h5{
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #006bc7;
    display: block;
    margin: 20px;
}

.container-slide .slide img{
    width: 100%;
    height: 430px;
}
.Speach .quotes i{
    color:#0289ea;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.Speach .thutuong{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
#Speach-infor{
    font-weight: 300;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;


}
.Speach img{
    border-radius: 100%;
    display: block;
    margin: 20px auto;
    width: 140px;
}
.container-news{
    width: 100%;
    background-color: #ffffec;
    padding-top: 10px;
    border-top: 1px solid #e2e1e1;
}
.news{
    width: 1360px;
    margin: 0 auto;
}
.main-news .container-news-infor{
    display: flex;
    
}
.container-title {
    display: flex;
    margin-top: 20px;
}
.container-title .gachdaudong{
    width: 5px;
    height: 28px;
    background-color: yellow;
    margin-right: 2px;
}
.container-title h3{
    justify-content: flex-start;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 3px;
}
.main-news .main-news-infor{
    width: 44%;
    justify-content: space-around;
    margin: 20px 40px;
}
#fix{
    margin-right: 0;
}
.main-news .main-news-infor img{
    width: 100%;
}
.main-news .main-news-infor h3,
.main-news .main-news-infor a
{
    color: #0d47a1;
    text-decoration: none;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-news .main-news-infor h4{
    font-weight: 200;
    color: #0289ea;
    font-size: 15px;

}

.container-seperate
